@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@font-face {
  font-family: "Wisdom";
  src: url(../fonts/ThirstyScriptExtraBoldDemo.otf);
}
@font-face {
  font-family: "DroidSerif";
  src: url(../fonts/DroidSerif.ttf);
}
@font-face {
  font-family: "DrSer";
  src: url(../fonts/DrSer.ttf);
}
.mainFontMixin {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
}
.insideWrapMixin {
  width: 1200px;
  margin: 0 auto;
}
.b-header-text_pos {
  position: absolute;
  top: 370px;
  width: 100%;
}
.b-header-text__p {
  font-family: "DroidSerif", "DrSer", sans-serif;
  color: #ffffff;
  font-size: 40px;
  /* Приближение из-за подстановки шрифтов */
  font-style: italic;
  text-align: center;
}
@media all and (min-width: 0) and (max-width: 575px) {
  .b-header-text__p {
    font-size: 30px;
  }
}
.b-header-text__h2 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 75px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
}
@media all and (min-width: 0) and (max-width: 575px) {
  .b-header-text__h2 {
    font-size: 45px;
  }
}
.b-skills-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.b-skills-item__circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.b-skills-item__circle_size {
  width: 68px;
  height: 67px;
}
.b-skills-item__circle_border {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #fed136;
}
.b-skills-item__name {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-top: 1em;
}
.b-skills-item__about {
  font-family: "Roboto Slab", sans-serif;
  color: #777777;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
  word-spacing: 10px;
}
.b-section__h2 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 40px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 75px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  text-transform: uppercase;
}
.b-section__p {
  font-family: "DroidSerif", "DrSer", sans-serif;
  color: #777777;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-style: italic;
  text-align: center;
}
.b-project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
}
.b-project:hover {
  -webkit-box-shadow: 0 0 10px #fed136;
  box-shadow: 0 0 10px #fed136;
}
.b-project_size {
  max-width: 300px;
}
.b-project__img_size {
  width: 100%;
  height: 300px;
}
.b-project__name {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
}
.b-project__about {
  font-family: "DroidSerif", "DrSer", sans-serif;
  color: #737373;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-style: italic;
  text-align: center;
}
.b-about-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.b-about-me__img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 7px;
  border-color: #f1f1f1;
  background-color: #000000;
}
.b-about-me__img_size {
  width: 300px;
  height: 300px;
}
.b-about-me__name {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 30px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 50px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}
.b-about-me__job {
  font-family: "Roboto Slab", sans-serif;
  color: #777777;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
}
.b-about-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.b-about-item_size {
  max-width: 515px;
  height: 169px;
  position: relative;
}
@media all and (min-width: 0) and (max-width: 992px) {
  .b-about-item_size {
    position: static;
  }
}
@media all and (min-width: 0) and (max-width: 575px) {
  .b-about-item_size {
    max-width: 300px;
  }
}
.b-about-item__img {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.b-about-item__img_size {
  width: 169px;
  height: 169px;
}
@media all and (min-width: 0) and (max-width: 575px) {
  .b-about-item__img_size {
    width: 100px;
    height: 100px;
  }
}
.b-about-item__img_border {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 7px;
  border-color: #f1f1f1;
}
.b-about-item__date {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
}
.b-about-item__subject {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: right;
}
.b-about-item__message {
  font-family: "Roboto Slab", sans-serif;
  color: #777777;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: right;
}
@media all and (min-width: 0) and (max-width: 575px) {
  .b-about-item__message {
    display: none;
  }
}
.b-contact-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.b-contact-item_size {
  max-width: 300px;
  margin-bottom: 20px;
  position: relative;
  left: 30px;
}
.b-contact-item__text {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  /* Приближение из-за подстановки шрифтов */
}
.b-contact-item__text_size {
  margin-left: 58px;
  position: absolute;
}
.b-contact-item__text:hover {
  text-decoration: none;
  color: #fed136;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.py-120px {
  padding: 120px 0;
}
.colorHeader {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backgroundHeader {
  background: url(../images/BackgroundImage.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 700px;
}
.navbar {
  background: rgba(0, 0, 0, 0) !important;
}
.navbar-brand {
  font-family: "Wisdom", sans-serif;
  color: #fed136 !important;
  font-size: 26px;
  /* Приближение из-за подстановки шрифтов */
  line-height: 41px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
  color: #ffffff !important;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 41px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin: 0 12px;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #fed136 !important;
}
.fa.fa-navicon {
  color: white;
}
.aSkills:hover {
  text-decoration: none;
}
.fa-color {
  color: #fed136;
  margin: auto;
}
.a-dec {
  text-decoration: none;
}
.a-dec:hover {
  text-decoration: none;
}
.color_gray {
  color: gray;
  border-color: gray;
}
.colorPortfolio {
  background-color: #f7f7f7;
}
.colorBlack {
  color: black;
  position: relative;
  top: -5px;
}
.colorWhite {
  color: white;
}
.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-item:nth-child(4n+1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  right: 173px;
}
@media all and (min-width: 0) and (max-width: 992px) {
  .about-item:nth-child(4n+1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.about-item:nth-child(4n+1) .about-item__img {
  margin-left: 48px;
}
@media all and (min-width: 0) and (max-width: 992px) {
  .about-item:nth-child(4n+1) .about-item__img {
    margin-right: 48px;
    margin-left: 0;
  }
}
.about-item:nth-child(4n+1) .about-text__date,
.about-item:nth-child(4n+1) .about-text__subject,
.about-item:nth-child(4n+1) .about-text__message {
  text-align: right;
}
@media all and (min-width: 0) and (max-width: 992px) {
  .about-item:nth-child(4n+1) .about-text__date,
  .about-item:nth-child(4n+1) .about-text__subject,
  .about-item:nth-child(4n+1) .about-text__message {
    text-align: left;
  }
}
.about-item:nth-child(4n+3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  left: 173px;
}
.about-item:nth-child(4n+3) .about-item__img {
  margin-right: 48px;
}
.about-item:nth-child(4n+3) .about-text__date,
.about-item:nth-child(4n+3) .about-text__subject,
.about-item:nth-child(4n+3) .about-text__message {
  text-align: left;
}
.about-item:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  right: 0;
  left: 0;
}
@media all and (min-width: 0) and (max-width: 992px) {
  .about-item:last-child {
    position: relative;
    left: -172px;
  }
}
@media all and (min-width: 0) and (max-width: 575px) {
  .about-item:last-child {
    display: none;
  }
}
.about-item:last-child .about-item__img {
  background-color: #fed136;
  margin-left: 0;
  margin-right: 0;
}
.alignLeft {
  text-align: left;
}
.hr {
  background-color: #f1f1f1;
  width: 3px;
  height: 94px;
}
@media all and (min-width: 0) and (max-width: 992px) {
  .hr {
    position: relative;
    right: 173px;
  }
}
@media all and (min-width: 0) and (max-width: 575px) {
  .hr {
    display: none;
  }
}
.colorContact {
  background-color: #222222;
}
.backgroundContact {
  background: url(../images/MapImage.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 600px;
  height: 650px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.posRel {
  position: relative;
}
.h2Contact {
  color: white;
}
.py-40px {
  padding: 20px 0 0 0;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.fa-contact {
  margin: 0;
}
